<div class="flex items-center justify-center h-screen bg-green-400 w-full flex-col lourdes-background"
     style="">
  <p-card styleClass="card">
    <div class="flex flex-row justify-center w-96 h-32 items-center">
      <p-image src="/logo.jpg">
      </p-image>
    </div>
    <h1 class="text-3xl mb-10 text-center">Login</h1>
    <form [formGroup]="this.loginForm">
      <div class="flex-auto mb-6">
        <p-floatlabel>
          <input type="text" pInputText id="username" class="w-full"/>
          <label for="username">Username</label>
        </p-floatlabel>
      </div>
      <div class="flex-auto mb-6">
        <p-floatlabel>
          <input type="password" pInputText id="password" class="w-full"/>
          <label for="password">Password</label>
        </p-floatlabel>
      </div>
      <div class="flex justify-end">
        <p-button label="Sign in" styleClass="w-28" severity="success">
        </p-button>
      </div>
    </form>
  </p-card>
</div>
