<div class="container flex-row flex mt-5 h-96 md:flex-col xl:flex-row">
  <div class="flex flex-col w-full p-2 sm:h-full test-border items-center justify-center">
    <h1 class="text-3xl font-bold text-center mb-5">
      Smart Storage System
    </h1>
  </div>
  <div class="flex w-full justify-center sm:invisible xl:visible test-border max-w-full overflow-hidden">
    <p-image src="/banner.jpeg">

    </p-image>
  </div>
</div>
<div class="container p-2">
  <div class="flex align-center flex-row items-center mb-2">
    <form action="" class="mr-2">
      <input type="text" placeholder="Search Medicine" class="text-sm" pInputText>
    </form>
    <p-button badgeSeverity="success" severity="info" label="Search" class="text-sm" outlined/>
  </div>
  <div class="container p-2">
    <div class="grid grid-cols-12 md:grid-cols-6 gap-4">
      <div class="w-full">
        <dashboard-medicine-card/>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">

      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
      <div class="w-full">
        <dashboard-medicine-card></dashboard-medicine-card>
      </div>
    </div>
  </div>
</div>
