<app-top-menu></app-top-menu>

<div class="container p-2 grid grid-cols-3 gap-6">
  <div class="w-full">
    <card-total-storage/>
  </div>
  <div class="w-full">
    <card-total-medicines/>
  </div>
  <div class="w-full">
    <card-near-expiration-item/>
  </div>
</div>
<div class="container p-2">
  <p-card styleClass="shadow-xl" header="Dashboard">
    <div class="flex align-center flex-row items-center mb-2">
      <form action="" class="mr-2">
        <input type="text" placeholder="Search Medicine" class="text-sm" pInputText>
      </form>
      <p-button badgeSeverity="success" severity="info" label="Search" class="text-sm" outlined/>
    </div>
    <div class="flex flex-row">
      <div class="storage-selection flex-grow">
        <div class="grid grid-cols-1 gap-2 p-1">
          @if (storageLoading) {
            <p-progress-spinner/>
          } @else {
            @for (storage of this.storages; track $index) {
              <p-button label="{{ storage.name }}" icon="pi pi-box" styleClass="w-full"
                        (onClick)="this.selectStorage(storage.id)"/>
            }
          }
        </div>
      </div>
      <div class="container p-2 test-border">
        <div class="grid grid-cols-1 gap-2 p-1">
          @for (storageItem of this.storageItems; track $index) {
            <dashboard-medicine-card
              [cardTitle]="storageItem.medicine.name"
              [description]="storageItem.medicine.description"
              [isLoading]="storageItemLoading"
              [expiryDate]="storageItem.expiryDate"
            />
          }
        </div>
      </div>
    </div>
  </p-card>
</div>
